body {
    display: flex;
    flex-direction: column;
}

ul {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    font-size: 50px;
    justify-content: center;
    background-color: rebeccapurple;
    border-radius: 20px;

}

.container {
    display: flex;

}

.options {
    display: flex;
    background-color: green;
    width: 40%;
    flex: 1 1 ;
    margin: 10px;
    border-radius: 20px;


}

.sketchContainer {
    display: flex;
    background-color: brown;
    width: 60%;
    height: 32em;
    flex: 1 1 45em;
    align-items: center;
    justify-content: center;
    margin: 10px;
    border-radius: 20px;

}

.sketchWindow {
    height: 480px;
    width: 480px;
    background-color: white;
    padding: 0;
    margin:auto;
    font-size: 0;
    outline:2px solid #000;

}

.cell {
    margin:0;
	padding:0;
	border:none;
	outline:1px solid #000;
	display:inline-block;
    background-color: whitesmoke;
}
